/* PARTIE HEADER */
/* Taille et placement du logo */
#logo
{
    width: 97px;
    height: 45px;
    padding-top: 20px;
}
/* Police et marge du body */
body
{
    font-family:  'Raleway', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

/* PARTIE NAVIGATION */
.liensnavigation
{
    display: flex; 
    justify-content:space-between;
    height: 20px;
    width: 300px;
    margin-top: -30px;
    font-size: 12px;
    margin-left: 990px;   
}

.liensnav12
{   
    display: flex;
    flex-direction: row;
    
}

/* Reglage de l'épaisseur de la police des liens NAV */
.liennavhebergement
{   
    font-weight: 600;      
}

.liennavactivités
{
    font-weight: 600;
    margin-left: 40px;
}

.lienincription
{  
    font-weight: 800;   
}
/* Supression de l'effet souligné des liens de toute la page */
a
{
    text-decoration: none;
}
/* Couleur des liens de la partie NAV */
.link_ancre_hebergement
{
    color: black;     
}

.link_ancre_activités
{
    color: black;
}

.link_inscription
{
    color: #0065fc;
}

/* Effet au survol des liens de la partie NAV */
.liennavhebergement :hover
{
    color: #0065fc;
    font-weight: bold;
    border-top:#0065fc solid;
    border-width: 2px;
    padding-top: 44px;     
}

.liennavactivités :hover
{
    color: #0065fc;
    font-weight:bold;
    border-top:#0065fc solid;
    border-width: 2px;
    padding-top: 44px;    
}

/* Taille et placement du h1 et du <p> en dessous */
h1
{
    font-size: 16px;
    margin-top: 50px;
}

.soush1
{
    font-size: 12px;
    margin-top: -5px;
    font-weight: 500;
}

/* PARTIE BARRE DE RECHERCHE */
.rechercher
{
    display: flex;
    justify-content:flex-start;
    height: 40px;
    width: 300px;  
    padding-top: 20px;
}

.icon
{
    background-color: #f2f2f2;
    font-size: 12px;
    border-color: #f2f2f2;
    width: 55px;
    height: 40px;
    margin: 0px 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;   
}

.zonetext
{
    background-color: white;
    border-color: #f2f2f2;
    border-style: solid;
    width: 235px;
    border-top-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
    color: black;
    font-weight: 750;       
}

.boutonrecherche
{
    background-color: #0065fc;
    color: white;
    border-color: #0065fc;
    width: 135px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;    
}

.boutonrecherchemobile
{
    display: none;
}

/* Supression de la bordure noire a la selection du champ de recherche */
.zonetext:focus
{
    outline: none;    
}

/* Reglage du placeholder dans le champs de recherche */
#rechercher::placeholder
{
    color: black;
    font-weight: 750;
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;   
}

/* Placement de l'icone de la barre de recherche */
#iconmap
{
   display: flex;
   justify-content: center;
   padding-top: 13px;
   padding-left: 2px;
}

/* PARTIE FILTRES */
/* Placement et taille de police */
.sectionfiltres
{
    display: flex;
    align-items: center;
    
    font-weight: 750;
    font-size: 13px;   
}
.margefiltre
{
    margin-top: 10px;
    margin-bottom: 20px; 
    display: flex; 
   
}

/* Marge du texte "Filtres" */
.margeh3 
{
    margin-right: 20px;
    padding-top: 10px;
}

/* Reglages de la <div> qui contien le texte et l'icone des filtre */
.filtretexticone
{
    border: #f2f2f2 solid 2px;
    height: 40px;
    border-radius: 30px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Effets d'ombres sur la bordure des icones */
.filtretexticone>.filtreicone:hover
{
    box-shadow: #0065fc 3px 3px 3px;
    border: #f2f2f2 1px;     
}

/* Reglage de la <div> contenant l'icone du filtre */
.filtreicone
{
    margin: -2px;
    border-radius: 25px;
    width: 42px;
    height: 42px;
    color: #0065fc;
    background-color: #deebff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Reglage de la <div> contenant l'icone du filtre */
.filtretext
{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Zone icone info + texte */
.iconeinfo
{
    margin-right: 10px;
    color: #0065fc;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    border: 1px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;  
}

.zoneinfo 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

/* PARTIE HEBERGEMENT */
/* Reglages des bloc "hebergement" et "populaire" fractionné en 3 avec un atribut "flex" */
.hebergements
{
    flex: 2;
    height: 650px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

.populaire
{
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

/* Placement de du <h3> "populaire" avec son icone */
.h3populaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergementetpop
{
    display: flex;
    align-content: space-around;
}

/* Incertion des images avec un "background-image" */
.imagehebergement1
{
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

.imagehebergement2
{
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

.imagehebergement3
{
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

.imagehebergement4
{
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

.imagehebergement5
{
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

.imagehebergement6
{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
}

/* Reglage du placement des cartes hébergement */
.bloc1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bloc2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Reglages des cartes hebergement */
.cartehebergement
{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 2px;
    border: 3px white solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

/*Effect d'ombres au survol des cartes */
.cartehebergement:hover
{
    box-shadow: 5px 5px 5px 1px #5c7aa7;    
}

.cardfooter
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.afficherplus
{
    font-weight: bold;
}

/* Reglages des icones étoiles dans le footer des cartes */
.iconebleu
{
    color: #0065fc;
}

.iconegrise
{
    color: #f2f2f2;
}

.displaystar
{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;   
}

/* Position du <p> dans les cardfooter */
.displaytextcard
{
    margin-top: -10px;
}

/* PARTIE POPULAIRE */
/* Incertion des images avec un "background-image" */
.imagepopulaire1
{
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.imagepopulaire2
{
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

.imagepopulaire3
{
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
}

/* Reglages cartes populaire */
.cartepopulaire
{
    width: auto;
    height: 22%;
    background-color: white;
    padding: 2px;
    border-radius: 20px;
    border: 3px white solid;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color: black;
}

/* Effect d'ombres au survol*/
.cartepopulaire:hover
{
    box-shadow: 5px 5px 5px 1px #5c7aa7;
    
}
.cardfooterpop
{
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: -10px;
}

/* SECTION "ACTIVITES A MARSEILLE" */
/* Reglages des <h3> */
.titreactivités
{
    margin-top: 60px;
}

h3
{
    color: black;
}

/* Reglage des blocs contenant les cartes */
.blocactivités1et2
{ 
    display: flex;  
}


.blocactivités1
{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 530px;
    margin-top: -30px;
    color: black;
    flex: 2;      
}

.blocactivités2
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 530px;
    margin-top: -30px;
    color: black;
    flex: 2;
}

/* Reglage des cartes "Activités" */
.cartetype1
{
    width: 45%;
    height: auto;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border-radius: 20px;
    color: black;  
}

.cartetype2
{
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border-radius: 20px;
    margin-top: 5px;
    color: black;       
}

.cartetype3
{
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border-radius: 20px;
    margin-top: 35px;
    color: black;   
}

/* Effets d'ombres au survol des cartes */
.cartetype1:hover
{
    box-shadow: 5px 5px 5px 1px #5c7aa7;
}

.cartetype2:hover
{
    box-shadow: 5px 5px 5px 1px #5c7aa7;
}

.cartetype3:hover
{
    box-shadow: 5px 5px 5px 1px #5c7aa7;
}

/* Incertion des images avec "background-image" */
.photoactivités1
{
    background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 400px;
    border-radius: 15px 15px 0px 0px; 
}

.photoactivités2
{
    background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;   
}

.photoactivités3
{
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
}

.photoactivités4
{
    background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 400px;
    border-radius: 15px 15px 0px 0px;  
}

.photoactivités5
{
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;
}

.photoactivités6
{
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0px 0px;   
}

/* Placement du texte dans les footer des cartes */
.footeractivités1
{
    padding-left: 20px;
}

.footeractivités23
{
    padding-bottom: 1px;
    padding-left: 20px;
}

/* SECTION FOOTER */
.footer
{
    background-color: #f2f2f2;
    width: 100.6%;
    height: 180px;
    margin-left: -20px;
    margin-bottom: -20px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 14px;  
}

.contenufooter
{
   padding-left: 200px;
    
}

@media screen and (max-width:1300px)
{
    .liensnavigation
    {
        margin-left: 600px;
    }
}

@media  screen and (max-width:1135px)
{
    .hebergementetpop
    {
        display: block;    
    }

    .hebergements
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    .populaire
    {
        margin-left: 0px;
        margin-right: 0px;  
        padding-bottom: 30px;
    }


    .blocactivités1et2
    {
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 50px;    
    }

    .blocactivités1
    {
        margin-bottom: 60px;
    }

    .cartetype1
    {
        width: 50%;
    }

    .cartetype2 
    {
        width: 400px;
    }

    .cartetype3
    {
        width: 400px;
    }

 }    

@media  screen and (max-width:1015px)
{
        body
        {
            margin-right: -20px;
        }
}
/* PARTIE MOBILE */
 @media  screen and (max-width:375px)
{
        #logo
        {
            width: 60%;
        }

        .logo
        {
            width: 50%;
            padding-left: 20px;   
        }

        .liensnavigation
        {
            margin: 0px; 
            width: 375px;
            margin-top: -30px
        }

        .link_inscription
        {
            font-size: 16px;  
            margin-left: -90px;     
        }

        .link_ancre_hebergement
        {
            padding-left: 40px;
        }

        .link_ancre_activités
        {
            padding-left: 50px;
        }

        .liennavactivités
        {
            width: 50%;
            margin: 0px 0px 0px 0px;
            border-bottom: #f2f2f2 solid 3px;
            padding-bottom: 30px;
        }

        .liennavhebergement
        {
            
            width: 50%;
            border-bottom: solid #0065fc 3px;
            padding-bottom: 30px;
              
        }

        .liensnav12
        {
            
            width: 375px;
            font-size: 16px;
            padding-top: 30px;
            margin-top: 20px;
            border-bottom: solid #f2f2f2 3px;
            padding-bottom: 30px;
        
            
               
        }

        

        .liennavactivités :hover
        {
            color: #0065fc;
            font-weight: bold; 
            border: none;
        }

        .liennavhebergement :hover
        {
            color: #0065fc;
            font-weight: bold;
            border: none;
        }
        
        
        h1 
        {
            font-size: 23px;
            padding-left: 20px;
            margin-top: 90px;
        }

        .soush1
        {
            font-size: 16px;
            padding-left: 20px;
        }

        .rechercher
        {
            width: 90%;
            height: 50px;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 20px;
        }

        .icon
        {
            height: 50px;
            
        }

        .boutonrecherche
        {
            border-radius: 10px 10px 10px 10px;
            display: none; 
            
        }

        .boutonrecherchemobile
        {
            display: inline-block;
            color: white;
            background-color: #0065fc;
            border-radius: 10px;
            height: 50px;
            width: 50px;
            border-style: none;
            
        }

        .sectionfiltres
        {
            flex-wrap: wrap; 
            display: flex; 
            padding-left: 20px;   
        }

        .margefiltre
        {
          display: inline;
        }

        .margeh3
        {
            padding-left: 20px;
        }

        .filtretexticone
        {
            margin-bottom: 10px;
        }

        .zoneinfo
        {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 50px;
            padding-left: 20px;
        }

        .footer
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 400px;  
        }

        .contenufooter
        {
            padding-left: 0px;  
        }

        .titreactivités
        {
            padding-left: 20px;
        }

        .blocactivités1et2
        {
            display: flex;
            flex-direction: column;
            width: 375px;
        }

        .blocactivités1
        {   
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 530px;
            color: black;
            flex: 2;      
            padding-right: 5px;
            padding-left: 5px;
        }

        .blocactivités2
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 530px;
            color: black;
            flex: 2;
            padding-right: 5px;
            padding-left: 5px;   
        }

        .cartetype1
        {
            width: 340px;
            height: auto;
            box-shadow: 5px 5px 5px 1px #f2f2f2;
            border-radius: 20px;
            color: black;  
            margin-top: 10px;  
        }

        .cartetype2
        {
            width: 340px;
            height: auto;
            box-shadow: 5px 5px 5px 1px #f2f2f2;
            border-radius: 20px;
            margin-top: 35px;
            color: black;        
        }

        .cartetype3
        {
            width: 340px;
            height: auto;
            box-shadow: 5px 5px 5px 1px #f2f2f2;
            border-radius: 20px;
            margin-top: 35px;
            color: black;      
        }

        .photoactivités1
        {
            background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
            background-size: cover;
            background-position:center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px; 
        }

        .photoactivités2
        {
            background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
            background-size: cover;
            background-position:center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;   
        }

        .photoactivités3
        {
            background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
            background-size: cover;
            background-position:center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .photoactivités4
        {
            background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
            background-size: cover;
            background-position:center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;  
        }

        .photoactivités5
        {
            background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
            background-size: cover;
            background-position:center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .photoactivités6
        {
            background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
            background-size: cover;
            background-position:center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;   
        }

        .hebergements
        {
            
            height: 650px;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around; 
            order: 2; 
            background-color: white;    
        }

        .bloc1
        {
            display: flex;
            flex-direction: column;
        }

        .bloc2
        {
            display: flex;
            flex-direction: column;
            margin-top: -15px;
        }

        .cartehebergement
        {
            width: 340px;
            margin-bottom: 35px;
            box-shadow: 5px 5px 5px 1px #f2f2f2 ;
        }

        .imagehebergement1
        {
            background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .imagehebergement2
        {
            background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .imagehebergement3
        {
            background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .imagehebergement4
        {
            background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .imagehebergement5
        {
            background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .imagehebergement6
        {
            background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 150px;
            border-radius: 15px 15px 0px 0px;
        }

        .afficherplus
        {
            font-size: 18px;
            padding-top: -40px
        }
        .populaire
        {

            height: 650px;
            background-color: #f2f2f2;
            margin-top: -10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            order: 1;           
        }

        .hebergementetpop
        {
            display: flex;
            flex-direction: column;
            width: 375px;  
        }

        .cartepopulaire
        {
            width: 95%;
            height: 26%;
            background-color: white;
            padding: 2px;
            border-radius: 20px;
            border: 3px white solid;
            display: flex;
            flex-direction: row;
            justify-content:center;
            align-items: center;
            color: black;
            margin-bottom: 5px;
        }
        
        body
        {
            margin-left: 0px;
            margin-right: 10px;
        }

}